<%= image_tag @user.avatar, class: 'prof-pic-lg' %>
<h1 class="text-center"><%= @user.email %></h1>
<p class="text-center lead"><%= @user.introduction %></p>
<span id="follow-button">
  <%= render partial: 'follows', locals: {user: @user} %>
</span>
<ul class="user-stats">
  <li id="user-reviews">
    <div class="number-label">Reviews</div>
    <div class="number-value"><%= @user.reviews.count %></div>
  </li> 
  <li id="user-followers">
    <div class="number-label">Followers</div>
    <div class="number-value"><%= @user.followed_relationships.count %></div>
  </li> 
  <li id="user-following">
    <div class="number-label">Followings</div>
    <div class="number-value"><%= @user.following_relationships.count %></div>
  </li>
</ul>
<div id="movies" class="transitions-enabled">
      <% @movies.each do |m| %>
        <% if @user.reviewed?(m) %>
          <div class="box panel panel-default">
            <%= link_to movie_path(m.id) do %>
               <%= image_tag m.poster, class:"reviewed-movies-img" %>
            <% end %>
            <div class="panel-body">
              <span class="title"><%= m.title %></span><br />
              <span><%= m.year %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

<script type="text/javascript">
$(function(){
   $('#movies').imagesLoaded(function(){
        $('#movies').masonry({
            itemSelector: '.box',
            isFitWidth: true
        });
    });
  let userId = <%= params[:id] %>;
  let userData = {};  

  $.ajax({
    url: `/users/${userId}.json`,
    type: "GET"
  })
  .done(function(data){
    userData = data;
    console.log(userData)
  });

  $('#user-followers').on('click', function(e){
    getFollower();
  });
  
  $('#user-following').on('click', function(e){  
      getFollowing();
  });
  
  $('#user-reviews').on('click', function(e){  
      getReviews();
  });
  
  function getFollowing()
  {
    let container = $('#movies');
        let htmlString ="";
        if (userData.following_relationships.length > 0) {
                userData.following_relationships.forEach(function(users){
                  console.log(users);
                  htmlString += `<div class="box panel panel-default">
                  <img class="prof-pic-sm" src=${users.user.avatar_url} />
                               <p>${users.user.username}</p>
                    </div>`;
                });
        }
        else
        {
          htmlString = "<h3 class='text-center'>This user has not followed any users yet</h3>";
        }
        container.empty();
        container.append(htmlString);
  }
  
  function getFollower()
  {
    let container = $('#movies');
        let htmlString ="";
        if (userData.followed_relationships.length > 0) {
                userData.followed_relationships.forEach(function(users){
                  console.log(users);
                  htmlString += `<div class="box panel panel-default">
                  <img class="prof-pic-sm" src=${users.user.avatar_url} />
                               <p>${users.user.username}</p>
                    </div>`;
                });
        }
        else
        {
          htmlString = "<h3 class='text-center'>This user has not been followed by any users yet</h3>";
        }
        container.empty();
        container.append(htmlString);
  }
  
  function getReviews()
  {
    let container = $('#movies');
    let htmlString ="";
    if (userData.reviews.length > 0) {
                userData.reviews.forEach(function(review){
                  console.log(review);
                  htmlString += `<div class="box panel panel-default">
                  <img class="prof-pic-sm" src=${review.movie.poster} />
                               <p>${review.movie.title}</p>
                               <p>${review.movie.year}</p>
                    </div>`;
                });
        }
        else
        {
          htmlString = "<h3 class='text-center'>This user has not reviewed any movies yet</h3>";
        }
        container.empty();
        container.append(htmlString);
        container.masonry('reloadItems');
                 container.imagesLoaded(function(){
                    container.masonry({
                    itemSelector: '.box',
                    isFitWidth: true
                });
            });
  }
})
  
</script>